extends layout

block content
  h1= title
  p #{title} page is running by Sri Vidya Vilipala
  - let destination3 = `dispatch(\"/spices/create\")`
  button.btn( class="btn-secondary m-1", onclick= destination3) Create 
  - let items = results
  div(class="container-fluid")
    div(class="col m-1")
      each item in items
        - let destination = `dispatch(\"/spices/update?id=${item._id}\")`
        - let destination1 = `dispatch(\"/spices/detail?id=${item._id}\")`
        - let destination2 = `dispatch(\"/spices/delete?id=${item._id}\")`
        div(class="row-sm-2", class="m-1") Item #{item.spice_name}(#{item.spice_origin}) is #{item.spice_cost}
        button.btn( class="btn-primary m-1", onclick= destination) Update
        button.btn( class="btn-success m-1", onclick= destination1) Details
        button.btn( class="btn-danger m-1", onclick= destination2) Delete
        br
        br
        
  script.
    function dispatch(path){
      window.location.href=path
    }
  //- -   
  //-   let results = [
  //-     {
  //-       spice_name: "Turmeric",
  //-       spice_origin: "India", 
  //-       spice_cost: 20
  //-     },
  //-     {
  //-       spice_name: "Cinnamon", 
  //-       spice_origin: "Sri Lanka", 
  //-       spice_cost: 40
  //-     },
  //-     {
  //-       spice_name: "Bay leaf", 
  //-       spice_origin: "Himalayas", 
  //-       spice_cost: 50
  //-     }
  //-   ]
  //- div(class="container-fluid")
  //-   div(class="row")
  //-     each item, index in results  
  //-       div(class="col-sm-2", onclick=`buy(${index})`) 
  //-         p Name: #{item.spice_name}
  //-         p Origin: #{item.spice_origin}
  //-         p Cost: #{item.spice_cost}
  //-         //- button(type="button", class="btn btn-primary") 
  //-       br

  //- script.
  //-   function buy(itemNum) {
  //-     alert(`You purchased item ${itemNum + 1}`);
  //-   }
  

