extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let spiceid = toShow._id
    - let spice_name = toShow.spice_name
    - let spice_origin = toShow.spice_origin
    - let spice_cost = toShow.spice_cost
    - let actionid = "/resource/spices/" + spiceid
    script.
      let actionid = "#{actionid}"
    
    div
      div.row
        div(class='spiceAttr mr-3') Spice ID is:
        div #{spiceid}
        
      div.row
        div(class='spiceAttr mr-3') Spice Name is:
        div #{spice_name}
        
      div.row
        div(class='spiceAttr mr-3') Spice Origin is:
        div #{spice_origin}
        
      div.row
        div(class='spiceAttr mr-3') Spice Cost is:
        div #{spice_cost}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

    script.
      function cancel() {
        // Go back to the home page for the costume collection
        window.location.href = '/spices'
      }

    script.
      function deleteOnid() {
        console.log("starting delete")
        // delete the costume
        fetch(actionid, {
          method: 'DELETE' // Don't need a body for the delete
        })
        .then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        })
        .then((body) => {
          alert("Delete succeeded")
          window.location.href = '/spices'
          // TODO: handle body
        })
        .catch((error) => {
          // TODO: handle error
          alert("Delete failed " + error)
        });
      }
